<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/jost@5.0.8/latin.css">
<style>
* { font-family: Jost !important; }
pre, code { font-family: monospace, monospace !important; }
pre { border-radius: 0.375rem; }
</style>
<link rel="apple-touch-icon" sizes="180x180" href="/blog/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/blog/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/blog/favicon-16x16.png">
<link rel="manifest" href="/blog/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
